.rest {
  width: 14px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  transform: rotatez(-20deg);
  margin-top: -16px;
  background-color: transparent;
  margin-right: 2px;
}

.rest:after {
  content: "";
  height: 28px;
  width: 1px;
  background-color: transparent;
  position: absolute;
  top: -22px;
  left: 19px;
  transform: rotatez(20deg);
}

.quarter {
  margin-right: 47px;
}

.eighth {
  margin-right: 16px;
}

.sixteenth {
  margin-right: 0px;
}