.note {
  width: 14px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  transform: rotatez(-20deg);
  margin-top: -16px;
  background-color: black;
  margin-right: 2px;
}

.note:after {
  content: "";
  height: 28px;
  width: 1px;
  background-color: black;
  position: absolute;
  top: -22px;
  left: 19px;
  transform: rotatez(20deg);
}